<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WEB</title>
</head>
<body>
    <form method="POST" action="/ascii-art">
        <header>
            <h1>ASCII-ART-WEB</h1>
        </header>
        <section>
            <textarea required name="input" id="" style="width: 400px; height: 100px; resize: none;"></textarea>
        </section>
        <section>
            <select name="fs" >
                <option value="standard">standard</option>
                <option value="shadow">shadow</option>
                <option value="thinkertoy">thinkertoy</option>
            </select>
        </section>
        <br>
        <button type="submit">Submit</button>
        <br>
        <br>
        <section>
            <pre>{{ .Output }}</pre>
        </section>
        <footer>
            <p>Author: damirkap89, 2021</p>
        </footer>
    </form>
</body>
</html>